In [1]:
import numpy as np
import pandas as pd
import scipy.stats.distributions as dist
import statsmodels.api as sm

# One Population Proportion

In [10]:
#number of parents :
n =1018

#NULL Hypothesis:
pnull =0.52

#Alternative Hypothesis:
phat = 0.56

test_stat, p_value =sm.stats.proportions_ztest(phat*n, n, pnull, alternative="larger", prop_var=0.52)

print("test-stat = {} and the p-value = {}".format(test_stat, p_value))

test-stat = 2.5545334262132955 and the p-value = 0.005316510991822442

# DIfference in Population Proportions

In [9]:
#p1 : black, p2: hispanic
#sample sizes
n1 = 247
n2 = 308

#nb of parents that their children had some swimming lessons:
y1 = 91
y2 = 120

#Estimates of population proportions
p1 = round(y1/n1,2)
p2 = round(y2/n2, 2)

#Estimates of the combined population proportion
phat = (y1+y2)/(n1+n2)

#Estimate of the variance of the combined population proportion
va = phat*(1-phat)

#Estimate of the standard error of the combined population proportion
se = np.sqrt(va*(1/n1 + 1/n2))

In [13]:
#Test statistic and its p-value
test_stat = (p1-p2)/se
pvalue = 2*dist.norm.cdf(-np.abs(test_stat))

print("t-stat = {} and the p-value = {}".format(round(test_stat, 2), round(pvalue,2)))

t-stat = -0.48 and the p-value = 0.63

# One population Mean

In [14]:
df =pd.read_csv(r'C:\Users\Badr\Desktop\DA & DS in Python\Introduction to Hypothesis Testing in Python\Cartwheeldata.csv')
df.head(5)

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [15]:
df.shape

(25, 12)

In [17]:
df.describe()

,ID,Age,GenderGroup,GlassesGroup,Height,Wingspan,CWDistance,CompleteGroup,Score
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.00000,25.000000
mean,13.000000,28.240000,1.520000,0.560000,67.650000,66.260000,82.480000,0.76000,6.400000
std,7.359801,6.989754,0.509902,0.506623,4.431187,5.492647,15.058552,0.43589,2.533114
min,1.000000,22.000000,1.000000,0.000000,61.500000,57.500000,63.000000,0.00000,2.000000
25%,7.000000,24.000000,1.000000,0.000000,64.000000,62.000000,70.000000,1.00000,4.000000
50%,13.000000,26.000000,2.000000,1.000000,68.000000,66.000000,81.000000,1.00000,6.000000
75%,19.000000,29.000000,2.000000,1.000000,71.000000,71.000000,92.000000,1.00000,8.000000
max,25.000000,56.000000,2.000000,1.000000,75.000000,76.000000,115.000000,1.00000,10.000000

In [18]:
n =len(df)
mean = df['CWDistance'].mean()
sd = df['CWDistance'].std()
(n, mean, sd)

(25, 82.48, 15.058552387264852)

In [19]:
z_stat, pvalue = sm.stats.ztest(df['CWDistance'],value=80, alternative="larger")
print("Z-stat = {} and the p-value = {}".format(z_stat, pvalue))

Z-stat = 0.8234523266982029 and the p-value = 0.20512540845395266

# Difference in Population Means

In [21]:
da = pd.read_csv(r'C:\Users\Badr\Desktop\DA & DS in Python\Introduction to Hypothesis Testing in Python\nhanes_2015_2016.csv')
da.head(5)

,SEQN,ALQ101,ALQ110,ALQ130,SMQ020,RIAGENDR,RIDAGEYR,RIDRETH1,DMDCITZN,DMDEDUC2,...,BPXSY2,BPXDI2,BMXWT,BMXHT,BMXBMI,BMXLEG,BMXARML,BMXARMC,BMXWAIST,HIQ210
0,83732,1.0,NaN,1.0,1,1,62,3,1.0,5.0,...,124.0,64.0,94.8,184.5,27.8,43.3,43.6,35.9,101.1,2.0
1,83733,1.0,NaN,6.0,1,1,53,3,2.0,3.0,...,140.0,88.0,90.4,171.4,30.8,38.0,40.0,33.2,107.9,NaN
2,83734,1.0,NaN,NaN,1,1,78,3,1.0,3.0,...,132.0,44.0,83.4,170.1,28.8,35.6,37.0,31.0,116.5,2.0
3,83735,2.0,1.0,1.0,2,2,56,3,1.0,5.0,...,134.0,68.0,109.8,160.9,42.4,38.5,37.7,38.3,110.1,2.0
4,83736,2.0,1.0,1.0,2,2,42,4,1.0,4.0,...,114.0,54.0,55.2,164.9,20.3,37.4,36.0,27.2,80.4,2.0

In [22]:
da.columns

Index(['SEQN', 'ALQ101', 'ALQ110', 'ALQ130', 'SMQ020', 'RIAGENDR', 'RIDAGEYR',
       'RIDRETH1', 'DMDCITZN', 'DMDEDUC2', 'DMDMARTL', 'DMDHHSIZ', 'WTINT2YR',
       'SDMVPSU', 'SDMVSTRA', 'INDFMPIR', 'BPXSY1', 'BPXDI1', 'BPXSY2',
       'BPXDI2', 'BMXWT', 'BMXHT', 'BMXBMI', 'BMXLEG', 'BMXARML', 'BMXARMC',
       'BMXWAIST', 'HIQ210'],
      dtype='object')

In [23]:
da.shape

(5735, 28)

In [25]:
male = da[da['RIAGENDR'] == 1]
females = da[da['RIAGENDR'] == 2]

In [26]:
male.shape

(2759, 28)

In [27]:
females.shape

(2976, 28)

In [28]:
n1 = len(females)
mu1 = females['BMXBMI'].mean()
sd1 = females['BMXBMI'].std()
(n1, mu1, sd1)

(2976, 29.93994565217392, 7.753318809545674)

In [30]:
n2 = len(male)
mu2 = male['BMXBMI'].mean()
sd2 = male['BMXBMI'].std()
(n2, mu2, sd2)

(2759, 28.778072111846942, 6.2525676168014614)

In [33]:
z_stat, pvalue = sm.stats.ztest(females['BMXBMI'].dropna(), male['BMXBMI'].dropna())
print("Z-stat = {} and the p-value = {}".format(z_stat, pvalue))

Z-stat = 6.1755933531383205 and the p-value = 6.591544431126401e-10