In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.1     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

# One Population Proportion

In [35]:
# Number of parents:
n <- 1018

#NULL hypothesis:
pnull <- 0.52

#Alternative hypothesis:
phat <- 0.56

# Number of successes:
x <- round(0.56 * n)

# Z test for proportions
result <- prop.test(x= x, n = n, p = pnull, alternative = "greater", correct = FALSE)

In [36]:
test_stat  <- result$statistic

In [37]:
pvalue <- result$p.value

In [38]:
cat("The test-statistic = ", test_stat, " and the p-value = ", pvalue)

The test-statistic =  6.500025  and the p-value =  0.005393648

# DIfference in Population Proportions

In [39]:
# Sample sizes
n1 <- 247
n2 <- 308

# Parents reporting that their parents had some swimming lessons
y1 <- 91
y2 <- 120

# Estimates of the population proportions
phat1 <- round(y1 / n1, 2)
phat2 <- round(y2 / n2, 2)

# Estimate of the combined population proportion
phat <- (y1+y2) / (n1+n2)

#Estimate of the variance of the combined population proportion
va <- phat * (1-phat)

#Estimate of the standard error of the combined population proportion
se <- sqrt(va*(1/n1 + 1/n2))

#Test statistic and the p-value
test_stat <- (phat1-phat2) / se
pvalue <- 2* pnorm(test_stat)

cat("The test-statistic = ", test_stat, " and the p-value = ", pvalue)

The test-statistic =  -0.4823695  and the p-value =  0.6295435

# One Population Mean

In [41]:
df <- read.csv('Cartwheeldata.csv')
head(df, 5)

  ID Age Gender GenderGroup Glasses GlassesGroup Height Wingspan CWDistance
1 1  56  F      1           Y       1            62     61       79
2 2  26  F      1           Y       1            62     60       70
3 3  33  F      1           Y       1            66     64       85
4 4  39  F      1           N       0            64     63       87
5 5  27  M      2           N       0            73     75       72
  Complete CompleteGroup Score
1 Y        1              7
2 Y        1              8
3 Y        1              7
4 Y        1             10
5 N        0              4

In [46]:
# Number of observations :
n <- length(df)

# Average distance :
mean <- mean(df$CWDistance)

# Standard deviation :
sd <- sd(df$CWDistance)

In [58]:
# One-sample Z-test (sd known)
library(BSDA)
result = z.test(df$CWDistance, mu = 80, sigma.x = sd, alternative ="greater")

In [60]:
# Extract test-statistic and p-value
test_stat <- result$statistic
p_value <- result$p.value

cat("t-stat =", test_stat, "and the p-value =", p_value, "\n")

t-stat = 0.8234523 and the p-value = 0.2051254

# Difference in Population Means

In [61]:
da <- read.csv('nhanes_2015_2016.csv')
head(da, 5)

  SEQN  ALQ101 ALQ110 ALQ130 SMQ020 RIAGENDR RIDAGEYR RIDRETH1 DMDCITZN
1 83732 1      NA      1     1      1        62       3        1
2 83733 1      NA      6     1      1        53       3        2
3 83734 1      NA     NA     1      1        78       3        1
4 83735 2       1      1     2      2        56       3        1
5 83736 2       1      1     2      2        42       4        1
  DMDEDUC2 ⋯ BPXSY2 BPXDI2 BMXWT BMXHT BMXBMI BMXLEG BMXARML BMXARMC BMXWAIST
1 5        ⋯ 124    64      94.8 184.5 27.8   43.3   43.6    35.9    101.1
2 3        ⋯ 140    88      90.4 171.4 30.8   38.0   40.0    33.2    107.9
3 3        ⋯ 132    44      83.4 170.1 28.8   35.6   37.0    31.0    116.5
4 5        ⋯ 134    68     109.8 160.9 42.4   38.5   37.7    38.3    110.1
5 4        ⋯ 114    54      55.2 164.9 20.3   37.4   36.0    27.2     80.4
  HIQ210
1  2
2 NA
3  2
4  2
5  2

In [63]:
colnames(da)

 [1] "SEQN"     "ALQ101"   "ALQ110"   "ALQ130"   "SMQ020"   "RIAGENDR"
 [7] "RIDAGEYR" "RIDRETH1" "DMDCITZN" "DMDEDUC2" "DMDMARTL" "DMDHHSIZ"
[13] "WTINT2YR" "SDMVPSU"  "SDMVSTRA" "INDFMPIR" "BPXSY1"   "BPXDI1"
[19] "BPXSY2"   "BPXDI2"   "BMXWT"    "BMXHT"    "BMXBMI"   "BMXLEG"
[25] "BMXARML"  "BMXARMC"  "BMXWAIST" "HIQ210"

In [64]:
# female and male dataframes:
females <- da %>%
    filter(da$RIAGENDR == 2)

male <- da  %>% 
    filter(da$RIAGENDR == 1)

In [81]:
# males Vs females :
n1 <- length(male)
mu1 <- mean(male$BMXBMI, na.rm = TRUE)
sd1 <- sd(male$BMXBMI, na.rm =  TRUE)


n2 <- length(females)
mu2 <- mean(females$BMXBMI, na.rm =  TRUE)
sd2 <-sd(females$BMXBMI, na.rm =  TRUE)

In [85]:
# Z-test (sd1 and sd2 are known) :
result <- z.test(x = na.omit(females$BMXBMI), y = na.omit(male$BMXBMI), sigma.x = sd1, sigma.y = sd2)

In [92]:
# Extract test-statistic and p-value
test_stat <- result$statistic
pvalue <- result$p.value

cat("test_statistic =", test_stat, "and p-value =", pvalue)

test_statistic = 6.175603 and p-value = 6.591163e-10